@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div> 
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label asp-for="DeviceId" class="control-label">Device</label>
            @Html.DropDownListFor(m => m.DeviceId, Model.DeviceIds, "-- Select a device --", new { @class = "form-control"})
        </div>
        <div class="form-group">
            <label asp-for="CallbackUrl " class="control-label">Callback Url</label>
            @Html.TextBox("CallbackUrl", null, new { @class = "form-control"})
        </div>
        <div class="form-group text-left" >
            <input type="submit" value="Register Callback Url 🤘" class="btn btn-primary" />
            <input type="submit" asp-action="Test" value="Test Callback Url ⚡" class="btn btn-primary" />
        </div>
        <div  class="form-group">
            <span>@Model.InformationMessage</span>
        </div>
    </form>
    <div id="DeviceCallback">
        @foreach(DeviceCallback deviceCallback in Model.DeviceCallbacks)
        {
            <input hidden="true" id="@deviceCallback.DeviceId" value="@deviceCallback.CallbackUrl"/>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    $(function(){
        $("#DeviceId").change(function() {

                var t = $(this).val();

                if (t !== "" && t !== "-- Select a device --") {               
                    $("#CallbackUrl").val($("#" + t).val());
                } else {
                    //Let's clear the values and disable :)
                    $("#CallbackUrl").val('');
                }

            });
    });
    </script>
}

